<!-- cadastro-->
<div *ngIf="cadastro">
  <div class="container">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <div class="card-title"></div>
        <form [formGroup]="formulario" (ngSubmit)="Avancar()">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
          </div>
          <div class="form-group">
            <input type="Text" class="form-control" placeholder="Nome completo" formControlName="nome">
          </div>
          <div class="form-group">
            <input type="Text" class="form-control" placeholder="Apelido" formControlName="apelido">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha" formControlName="senha">
          </div>
          <button type="submit" class="btn btn-primary btn-sm btn-block">Cadastrar</button>
        </form>
        <hr />
      </div>
    </div>
  </div>
</div>

<!-- login-->
<div *ngIf="login">
  <div class="container">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <div class="card-title"></div>
        <form [formGroup]="form" (ngSubmit)="Consultar()">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha" formControlName="senha">
          </div>
          <button type="submit" class="btn btn-primary btn-sm btn-block">Entrar</button>
        </form>
        <hr />
      </div>
    </div>
  </div>
</div>
<div *ngIf="Cadastrados">
  <div class="secao">
    <h3 class="text-center">Usuários Cadastrados</h3>

  </div>

  <hr />


  <div class="container">
    <div *ngFor="let user of User">

      <div class="col-md-8">
        <div class="row">
          <h4>ID: {{user.ID}}</h4>
        </div>
        <div class="row">
          <p>Nome: <b>{{user.Nome}}</b></p>
        </div>
        <div class="row">
          <p>Apelido: <b>{{user.Apelido}}</b></p>

        </div>
        <div class="row">
          <p>E-mail: <b>{{user.email}}</b></p>
        </div>
      </div>
    </div>

    <hr />
  </div>

</div>



<!--

<div *ngIf="cadastro">
  <form [formGroup]="formulario" (ngSubmit)="Avancar()">
    <input type="email" placeholder="E-mail" formControlName="email">
    <input type="text" placeholder="Nome completo" formControlName="nome">
    <input type="text" placeholder="Apelido" formControlName="apelido">
    <input type="password" placeholder="Senha" formControlName="senha">
    <button type="submit">Cadastrar</button>
  </form>
  
</div>
<div *ngIf="login">
  <form [formGroup]="form" (ngSubmit)="Consultar()">
    <input type="email" placeholder="E-mail" formControlName="email">
    <input type="password" placeholder="Senha" formControlName="senha">
    <button type="submit">Entrar</button>
  </form>
</div>

<div *ngIf="Cadastrados">
  <h3 >Usuários Cadastrados</h3>
  <hr />

  
    <div *ngFor="let user of User">
      <h4>ID: {{user.ID}}</h4>
      <p>Nome: <b>{{user.Nome}}</b></p>
      <p>Apelido: <b>{{user.Apelido}}</b></p>
      <p>E-mail: <b>{{user.email}}</b></p>
    </div>
    

  <hr />
</div>

-->


